---
layout: default
title: 分类
permalink: /categories/
---

<div class="row">
  <div class="row justify-content-center">
    <div class="col col-md-9">
      <div class="row">
        <div class="col col-md-12">
          {%- for category in site.categories -%}
            <a class="btn btn-outline-info mx-1 my-1" href="#{{category[0]}}">{{category[0]}}</a>
          {%- endfor -%}

          {%- for category in site.categories -%}
            {% assign index = 'now' | date: "%s" | modulo: site.style.css.size %}
              <h5 id="{{category[0]}}" onclick="handleCategory(this.id)" style="color: #3f3f3f">{{category[0]}}</h5>
              <ul id="category-{{category[0]}}" class="list-group list-group-flush">
                {% for cat in site.categories %}
                  {%- if cat[0] == category[0] -%}
                    {% for p in cat[1] %}
                      {% if p.title != page.title %}
                      <li class="list-group-item" style="padding: 0.625rem 0; color: #2a7ae2">
                        <a href="{{ p.url | relative_url }}">
                          {{p.title}}
                          <time class="dt-published" style="float: right" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {{ p.date | date: date_format }}
                          </time>
                        </a>
                      </li>
                      {% endif %}
                    {%- endfor -%}
                  {% endif %}
                {% endfor %}
              </ul>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
