<footer class="navbar navbar-fixed-bottom">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>
    <div class="container">
        <div class="row bg-light justify-content-center">
            {%- if site.social.github_username -%}
            <small>
                <a href="https://github.com/{{ site.social.github_username| cgi_escape | escape }}">GitHub: {{ site.social.github_username| escape }}</a>
            </small>
            &nbsp;&nbsp;
            {%- endif -%}

            {%- if site.social.qq -%}
            <small>
                <a class="u-email" href="mailto:{{ site.social.email }}">QQ: {{ site.social.qq }}</a>
            </small>
            &nbsp;&nbsp;
            {%- endif -%}

            {%- if site.social.twitter_username -%}
            <small>
                <a href="https://www.twitter.com/{{ site.social.twitter_username| cgi_escape | escape }}">Twitter: {{ site.social.twitter_username| escape }}</a>
            </small>
            &nbsp;&nbsp;
            {%- endif -%}

            {%- if site.social.wechat -%}
            <small>
                <a class="u-email" href="mailto:{{ site.social.email }}">WeChat: {{ site.social.wechat }}</a>
            </small>
            &nbsp;&nbsp;
            {%- endif -%}

            {%- if site.social.email -%}
            <small>
                <a class="u-email" href="mailto:{{ site.social.email }}">Email: {{ site.social.email }}</a>
            </small>
            &nbsp;&nbsp;
            {%- endif -%}
        </div>
    </div>
</footer>
