{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="line-height: 24px;">
    <div class="container">
      <a href="/" class="navbar-brand py-0">
          <img src="/assets/avatar.jpg" class="rounded-circle" style="width: 24px;" alt="Avatar">
          <span>{{site.title}}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
