body {
  margin: 5px;
}

html {
  position: relative;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer > .container {
  padding-right: 16px;
  padding-left: 16px;
}

code {
  font-size: 80%;
}

.container {
  margin-top: 60px;
}