<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}

    {%- feed_meta -%}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{"/assets/css/imjcker.css" | relative_url}}">

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
     
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!-- <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script> -->
     
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
     
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>{{site.title}}</title>
</head>
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<body class="container-fluid">
{{ content }}
</body>

<footer id="footer" class="footer">
    <div>
        <hr>
        <div class="tooter-social" STYLE="text-align: center">
            <a class="social rss" target="blank" href="/feed">RSS</a>&nbsp;&nbsp;&nbsp;
            <a class="social zhihu" target="blank" href="https://www.zhihu.com/people/ZHIHU">知乎</a>&nbsp;&nbsp;
            {%- if site.social.github_username -%}
            <a class="social github" target="blank" href="https://github.com/{{site.social.github_username}}">Github</a>&nbsp;&nbsp;
            {%- endif -%}
            {%- if site.social.twitter_username -%}
            <a class="social twitter" target="blank" href="https://twitter.com/{{site.social.twitter_username}}">Twitter</a>&nbsp;&nbsp;
            {%- endif -%}
            <a class="social csdn" target="blank" href="http://blog.csdn.net/u012137018">CSDN</a>&nbsp;&nbsp;
            {%- if site.social.qq -%}
            <a class="u-email" target="_blank" href="mailto:{{ site.social.email }}">QQ</a>&nbsp;&nbsp;
            {%- endif -%}
            {%- if site.social.wechat -%}
            <a class="u-email" href="mailto:{{ site.social.email }}">WeChat</a>&nbsp;&nbsp;
            {%- endif -%}
        </div>
    </div>
</footer>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/echarts/echarts.min.js"></script>
<script>
    $(function(){
        initGraph();
    });

    function getNodes(){
        let nodes_post = [
            {%- for post in site.posts -%}
                {
                    "id": "{{post.url}}",
                    "name": "{{post.title}}",
                    "value": "文章",
                    "category": "文章",
                    "label": {"show": true},
                    "symbolSize": {{post.tags.size | times: 7 }},
                    "symbol": 'image://assets/java.png',
                    "x": {{site.style.css.symbolSize | sample | times: 7.3}},
                    "y": {{site.style.css.symbolSize | sample | times: 3.7}}
                },
            {%- endfor -%}
        ];

        let nodes_tag = [
            {%- for tag in site.tags -%}
                    {
                        "id": "{{tag[0]}}",
                        "name": "{{tag[0]}}",
                        "value": "标签",
                        "category": "标签",
                        "label": {"show": false},
                        "symbolSize": {{tag[1].size | times: 7 }},
                        "symbol": 'ract',
                        "x": {{site.style.css.symbolSize | sample | times: 7.3}},
                        "y": {{site.style.css.symbolSize | sample | times: 3.7}}
                    },
            {%- endfor -%}
        ];

        let nodes_cat = [
            {%- for cat in site.categories -%}
                    {
                        "id": "{{cat[0]}}",
                        "name": "{{cat[0]}}",
                        "value": "分类",
                        "category": "分类",
                        "label": {"show": false},
                        "symbolSize": {{cat[1].size | times: 7 }},
                        "symbol": 'circle',
                        "x": {{site.style.css.symbolSize | sample | times: 7.3}},
                        "y": {{site.style.css.symbolSize | sample | times: 3.7}}
                    },
            {%- endfor -%}
        ];

        // imjcker 跟节点
        let root_node = [
            {
                "id": "imjcker",
                "name": "imjcker",
                "value": "category",
                "category": "分类",
                "label": {"show": false},
                "symbolSize": 60,
                "symbol": 'image://assets/avatar.jpg',
                "x": {{site.style.css.symbolSize | sample | times: 7.3}},
                "y": {{site.style.css.symbolSize | sample | times: 3.7}}
            }
        ];

        let nodes = Array.from(new Set(nodes_cat.concat(nodes_tag).concat(nodes_post).concat(root_node)));
        return nodes;
    }

    function getLinks(){
        let links_c_root = [
            {%- for category in site.categories -%}
                {
                    "source": "{{category[0]}}",
                    "target": "imjcker"
                },
            {%- endfor -%}
        ];
        let links_t_p = [
            {%- for tag in site.tags -%}
                {%- for post in tag[1] -%}
                    {
                        "source": "{{post.url}}",
                        "target": "{{tag[0]}}"
                    },
                {%- endfor -%}
            {%- endfor -%}
        ];
        let links_c_t = [
                {%- for post in site.posts -%}
                    {%- for tag in post.tags -%}
                    {
                        "source": "{{tag}}",
                        "target": "{{post.categories[0]}}"
                    },
                    {%- endfor -%}
                {%- endfor -%}
        ];

        return links_t_p.concat(links_c_t).concat(links_c_root);
    }

    function initGraph() {
        let categories = [
                {"name": "分类"},
                {"name": "标签"},
                {"name": "文章"}
        ];
        let links = getLinks();
        let nodes = uniqueBy(getNodes(), "id");

        let chartDom = document.getElementById('main');
        let myChart = echarts.init(chartDom);
        let option;

        myChart.showLoading();
        myChart.hideLoading();
        nodes.forEach(function (node) {
            node.label = {
                show: node.symbolSize > 1
            };
        });
        option = {
            title: {
                text: '知识图谱',
                subtext: 'Default layout',
                top: 'bottom',
                left: 'right'
            },
            tooltip: {"show": false},
            legend: [{
                data: categories.map(function (c) {
                    return c.name;
                })
            }],
            animationDuration: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [
                {
                    name: '知识图谱',
                    type: 'graph',
                    layout: 'force',
                    force: {
                        repulsion: 1,
                        edgeLength: 3
                    },
                    data: nodes,
                    links: links,
                    categories: categories,
                    roam: true, // 缩放
                    label: {
                        position: 'right',
                        formatter: '{b}'
                    },
                    lineStyle: {
                        color: 'source',
                        curveness: 0.1
                    },
                    emphasis: {
                        focus: 'adjacency',
                        lineStyle: {
                            width: 3
                        }
                    }
                }
            ]
        };

        myChart.setOption(option);

        option && myChart.setOption(option);

        myChart.on('mouseover', function (params) {
            console.log(params.name);
        });

    }

function uniqueBy(dataSet, field) {
    var dest = [];
    for (var i = 0; i < dataSet.length; i++) {
        var ai = dataSet[i];
        if (i == 0) {
            dest.push(ai);
        } else {
            var filterData = dest.filter(function (e) {
                return e[field] == ai[field];
            })
            if (filterData.length == 0) {
                dest.push(ai);
            }
        }
    }
    return dest;
}
</script>
</html>
