---
layout: default
---

<div class="row">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
      {%- for post in paginator.posts -%}
        <div class="col-md-{{site.style.home.col}}">
        <a id="{{post.id | split: '/' | last}}" href="{{ post.url | relative_url }}" onmouseover="initPostCardStyle($(this).attr('id'), '{{post.bg | escape}}')" class="list-group-item list-group-item-action imjcker-post" style="height: 300px; margin-top: 5px; ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post.title | escape }}</h5>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <small class="text-muted">{{ post.date | date: date_format }}</small>
          </div>
          <p class="mb-1">{%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
          </p>
          <small class="text-muted">百年孤独</small>
        </a>
        </div>
      {%- endfor -%}
  {%- endif -%}

  {% if paginator.total_pages > 1 %}
  <ul class="pagination">


  </ul>

  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">上一页</a>
        {%- else -%}
        上一页: 没了
        {% endif %}
      </div>
      <div class="col-4">
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}" style="float: right;">下一页</a>
        {%- else -%}
        下一页: 没了
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}


</div>
