---
layout: default
---

<div class="row">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
    {{ content }}
  {%- if site.posts.size > 0 -%}
      <div class="row justify-content-center">
        <div class="col col-md-9">
          <div class="row  justify-content-center">
            {%- for post in paginator.posts -%}
              <div class="col col-md-4">
                <a id="{{post.id | split: '/' | last}}" href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action imjcker-post" style=" margin: 5px 2px; ">
                  {%- if post.bg -%}
                  <img class="img-fluid card-img-top" src="/assets/{{post.bg}}" alt="Card image cap">
                  {%- else -%}
                  <img class="img-fluid card-img-top"  src="/assets/{{site.style.home.card_img}}" alt="Card image cap" >
                  {%- endif -%}

                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title | escape }}</h5>
                  </div>

                  <div class="mb-1 d-md-none d-lg-block">
                    {% if post.excerpt.size > 24 %}
                      {{post.excerpt | truncate: 24}}
                    {% else %}
                      {{post.excerpt}}
                    {% endif %}
                  </div>
                  <small class="badge badge-pill badge-primary" style="position: absolute; bottom: 1px; left: 3px;">{{post.category}}</small>
                  <small class="text-muted" style="position: absolute; bottom: 0; right: 3px;">{{ post.date | date: "%Y年%m月%d日" }}</small>
                </a>
              </div>
            {%- endfor -%}
          </div>
          {% if paginator.total_pages > 1 %}
          <div class="row justify-content-center">
            <div class="col-4">
              {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">上一页</a>
              {%- else -%}
              上一页: 没了
              {% endif %}
            </div>
            <div class="col-4"><p style="text-align: center; width: 100%;">第{{paginator.page}}页/共{{paginator.total_pages}}页</p></div>
            <div class="col-4">
              {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}" style="float: right;">下一页</a>
              {%- else -%}
              下一页: 没了
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col col-md-3">
            {%- if page.categories.size > 0 -%}
            <ul class="list-group list-group-flush">
              {% for cat in site.categories %}
              {%- if cat[0] == page.categories[0] -%}
              {% for p in cat[1] limit:10 %}
              {% if p.title != page.title %}
              <li class="list-group-item" style="padding: 0 0;border-bottom-width: 0;line-height: 30px;">
                <a href="{{ p.url | relative_url }}">{{p.title}}</a>
              </li>
              {% endif %}
              {%- endfor -%}
              {% endif %}
              {% endfor %}
            </ul>
            {%- else -%}
              <ul class="list-group list-group-flush">
              {% for post in site.posts limit:7 %}
              <li class="list-group-item" style="padding: 0 0;border-bottom-width: 0;line-height: 30px;">
                <a href="{{ post.url | relative_url }}">{{post.title}}</a>
              </li>
              {% endfor %}
            </ul>
            {%- endif -%}
        </div>
      </div>
  {%- endif -%}

</div>
