---
layout: default
---

<div class="row">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    {{ content }}
    {%- if site.posts.size > 0 -%}
    <div class="row justify-content-center" style="padding-top: 60px">
        <div class="col col-md-9">
            <div class="row">
                <div class="col col-md-12">

                    <div class="card">
                        <div class="card-header" style="background-color: white">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">Search</span>
                                </div>
                                <input id="search" type="text" class="form-control" placeholder="You know for search"
                                       aria-label="Username" aria-describedby="addon-wrapping"
                                       onkeydown="search(event)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="latest-posts" class="list-group list-group-flush">
                                {% for post in site.posts limit:3 %}
                                <li class="list-group-item" style="padding: 0 0;border-bottom-width: 0;line-height: 30px;">
                                    <a href="{{ post.url | relative_url }}">{{post.title}}</a>
                                    <time class="dt-published text-muted" style="float: right;" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                        <small>{{ post.date | date: "%Y年%m月%d日" }}</small>
                                    </time>
                                </li>
                                {% endfor %}
                            </div>

                            <!--展示选中分组的博客-->
                            {%- for category in site.categories -%}
                            <div id="category-{{category[0]}}" class="list-group list-group-flush"
                                 style="display: none;">
                                {% for cat in site.categories %}
                                {%- if cat[0] == category[0] -%}
                                {% for p in cat[1] %}
                                <div class="list-group-item text-muted" style="padding: 0 0; border-bottom-width: 0;">
                                    <a href="{{ p.url | relative_url }}">
                                        {{p.title}}
                                        <time class="dt-published text-muted" style="float: right"
                                              datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                            <small>{{ p.date | date: "%Y年%m月%d日" }}</small>
                                        </time>
                                    </a>
                                </div>
                                {%- endfor -%}
                                {% endif %}
                                {% endfor %}
                            </div>
                            {%- endfor -%}

                            <!--展示选中关键字的博客-->
                            {%- for tag in site.tags -%}
                            <div id="tag-{{tag[0]}}" class="list-group list-group-flush" style="display: none;">
                                {% for ta in site.tags %}
                                {%- if ta[0] == tag[0] -%}
                                {% for p in ta[1] %}
                                <div class="list-group-item text-muted" style="padding: 0 0; border-bottom-width: 0;">
                                    <a href="{{ p.url | relative_url }}">
                                        {{p.title}}
                                        <time class="dt-published text-muted" style="float: right"
                                              datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                            <small>{{ p.date | date: "%Y年%m月%d日" }}</small>
                                        </time>
                                    </a>
                                </div>
                                {%- endfor -%}
                                {% endif %}
                                {% endfor %}
                            </div>
                            {%- endfor -%}

                        </div>
                    </div>

                    <!--罗列所有category-->
                    {%- for category in site.categories -%}
                    <button class="btn btn-sm btn-outline-{{site.style.css | sample}} mx-1 my-1" id="c-{{category[0]}}"
                            onclick="handleCategory(this.id)">{{category[0]}}
                    </button>
                    {%- endfor -%}

                    <!--罗列所有tag-->
                    {% for tag in site.tags %}
                    <button class="btn btn-sm btn-outline-{{site.style.css | sample}} mx-1 my-1" id="t-{{tag[0]}}"
                            onclick="handleTag(this.id)">{{tag[0]}}
                    </button>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    {%- endif -%}

</div>

