---
layout: default
---
<article class="post">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="post-header">
          <h1 class="post-title" >{{ page.title | escape }}</h1>
          <p class="post-meta" style="width: 100%; float: left;">
            {%- if page.categories.size > 0 -%}
            {%- for category in page.categories -%}
            分组：<a class="btn btn-sm btn-outline-{{site.style.css.tag_style | sample}}" href="/#c-{{category}}">{{category}}</a>
            {%- endfor -%}
            {%- endif -%}
            &nbsp;&nbsp;
            关键字：
            {%- if page.tags.size > 0 -%}
            {%- for tag in page.tags -%}
            <a class="btn btn-sm btn-outline-{{site.style.css.tag_style | sample}}" href="/#t-{{tag}}">{{tag}}</a>&nbsp;
            {%- endfor -%}
            {%- endif -%}

            {%- if site.author -%}
            &nbsp;作者：<span itemprop="author"><span class="p-author h-card mx-1" itemprop="name">{{ site.author }}</span></span>
            {%- endif -%}

            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              &nbsp;&nbsp;日期：{{ page.date | date: "%Y年%m月%d日" }}
            </time>
          </p>
        </div>
        <!--博客内容-->
        <div>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-bottom: 60px;">
    <div class="row justify-content-between">
      <div class="col-4">
        {%- if page.next -%}
        <a href="{{page.next.url}}">上一篇: {{page.next.title}}</a>
        {%- else -%}
        上一篇: 没了
        {%- endif -%}
      </div>
      <div class="col-4">
        {%- if page.previous -%}
        <a href="{{page.previous.url}}" style="float: right;">下一篇: {{page.previous.title}}</a>
        {%- else -%}
        下一篇: 没了
        {%- endif -%}
      </div>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
