---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {%- if page.categories.size > 0 -%}
        {%- for category in page.categories -%}
          <button type="button" class="btn btn-sm btn-outline-success" disabled>{{category}}</button>
        {%- endfor -%}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4">
        {%- if page.next -%}
        <a href="{{page.next.url}}">上一篇: {{page.next.title}}</a>
        {%- else -%}
        没了
        {%- endif -%}
      </div>
      <div class="col-4">
        {%- if page.previous -%}
        <a href="{{page.previous.url}}">下一篇: {{page.previous.title}}</a>
        {%- else -%}
        没了
        {%- endif -%}
      </div>
    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
